medenv/
.env
__pycache__/
learn.txt
img_pdf.pdf
pdf_docs.pdf
pres.png
check.py
db_connect.py
1_mg.csv
Medicine.csv
Jan_Aushadhi.csv
temp_pdf_docs.pdf
medicine_embedding.pkl
Jan_aushadhi_embedding.pkl
db_connect.py
load_data.py
